body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  margin: 0 auto;
  max-width: 1080px;
  padding-top: 50px;
}

#header_pic_menu {
  max-width: 500px;
  left: 35%;
  position: relative;
  overflow: auto;
  right: 35%;
  width: 30%;
}

#profile_pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: block;
  float: left;
  margin: auto;
  min-height: 150px;
  min-width: 150px;
  position: relative;
  width: 50%;

}

#menu {
  border-left: 0.1em solid red;
  float: right;
  padding-left: 1em;
  min-height: 150px;
  /* margin: auto; */
  /* vertical-align: middle; */
  position: relative;
  /* width: 50%; */
}

a {
  display: block;
  line-height: 2em;
}

footer {
  bottom: 0;
  left: 0;
  padding: 15px 0 15px 0;
  position: fixed;
  text-align: center;
  width: 100%
}
